<?xml version="1.0"?>
<config>
    <modules>
        <DivanteCommon_AdSection>
            <version>0.1.5</version>
        </DivanteCommon_AdSection>
    </modules>
    <global>
        <models>
            <divantecommon_adsection>
                <class>DivanteCommon_AdSection_Model</class>
                <resourceModel>divantecommon_adsection_resource</resourceModel>
            </divantecommon_adsection>
            <divantecommon_adsection_resource>
                <class>DivanteCommon_AdSection_Model_Resource</class>
                <entities>
                    <section>
                        <table>adsection_section</table>
                    </section>
                    <block>
                        <table>adsection_block</table>
                    </block>
                </entities>
            </divantecommon_adsection_resource>
        </models>
        <blocks>
            <divantecommon_adsection>
                <class>DivanteCommon_AdSection_Block</class>
            </divantecommon_adsection>
        </blocks>
        <helpers>
            <divantecommon_adsection>
                <class>DivanteCommon_AdSection_Helper</class>
            </divantecommon_adsection>
        </helpers>
        <resources>
            <divantecommon_adsection_setup>
                <setup>
                    <module>DivanteCommon_AdSection</module>
                </setup>
            </divantecommon_adsection_setup>
        </resources>
        <events>
            <adsection_section_save_before>
                <observers>
                    <divantecommon_adsection_populate_values>
                        <type>singleton</type>
                        <class>divantecommon_adsection/observer_section</class>
                        <method>populateAutoValues</method>
                    </divantecommon_adsection_populate_values>
                </observers>
            </adsection_section_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <divantecommon_adsection>
                    <file>adsection.xml</file>
                </divantecommon_adsection>
            </updates>
        </layout>
        <translate>
            <modules>
                <DivanteCommon_AdSection>
                    <files>
                        <default>DivanteCommon_Adsection.csv</default>
                        <widget>Mage_Widget.csv</widget>
                    </files>
                </DivanteCommon_AdSection>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DivanteCommon_AdSection before="Mage_Adminhtml">DivanteCommon_AdSection_Adminhtml</DivanteCommon_AdSection>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>